# Generate with:
# openssl rand -hex 64
APP_JWT_SECRET=6565e15d503e8a7565b8a2016c8adbf8676ceeca4a92183ea81cad0d98960c2d8b6deaf87762352434d261cbbb48b65b328e77c7088c5f09de3c12bc8482e2fd

# Generate with:
# openssl rand -hex 64
APP_PASSWORD_PEPPER=e0bf0a492da68303e481c646845f696906c46457db2d9b584d8919e437ab2f610a655ea40f2c91bcbed1b631f72c83322c9f272bdfde180166ad05184f7b4f35

# Dev database passwords
DB_PASSWORD=app
POSTGRES_PASSWORD=app

# Dev seed passwords
APP_SEED_ADMIN_PASSWORD=Admin123!
APP_SEED_GUEST_PASSWORD=Guest123!

# SonarQube local database password
SONARQUBE_DB_PASSWORD=sonarqube

# Grafana local admin credentials
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change-me-grafana-admin-password

# Matomo database credentials
MYSQL_ROOT_PASSWORD=change-me-matomo-db-root-password
MYSQL_PASSWORD=change-me-matomo-db-password
MATOMO_DATABASE_PASSWORD=change-me-same-as-mysql-password