nav {
    height: fit-content;
    min-height: var(--header-height);

    padding: 0 16px;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    flex-direction: row;
    gap: 16px;
}